<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/style_form.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Récompenses des guides Formulaire</title>
</head>
<body>
<div class="formulaire">
    {{ form_start(guideAwardFormView) }}
    {#----   Voir les propriétés form-group de Bootstrap   ----#}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.wineCastle, 'Nom du domaine') }}
                {{ form_errors(guideAwardFormView.wineCastle) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.wineCastle, {'attr': {'class':'widget_all'}} ) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.years, 'Millésime') }}
                {{ form_errors(guideAwardFormView.years) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.years, {'attr': {'class':'widget_all'},'value' : '2000'} ) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.display, 'online/offline') }}
                {{ form_errors(guideAwardFormView.display) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.display, {'attr': {'class':'widget_all'}} ) }}
                <span>cochez pour rendre visible sur le site</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.guide, 'Nom du Guide') }}
                {{ form_errors(guideAwardFormView.guide) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.guide, {'attr': {'class':'widget_all'}} ) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.guideNotation, 'Notation') }}
                {{ form_errors(guideAwardFormView.guideNotation) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.guideNotation, {'attr': {'class':'widget_all'}} ) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {{ form_label(guideAwardFormView.guideAwardLogo, 'logo du prix') }}
                {{ form_errors(guideAwardFormView.guideAwardLogo) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.guideAwardLogo, {'attr': {'class':'widget_all'}} ) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2 form-group">
                {{ form_label(guideAwardFormView.commentAward, 'commentaire') }}
                {{ form_errors(guideAwardFormView.commentAward) }}
            </div>
            <div class="col-md-10">
                {{ form_widget(guideAwardFormView.commentAward, {'attr': {'class':'widget_all widget_textarea'}} ) }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-end mr-1">
            <div class="">
                {{ form_row(guideAwardFormView.submit,
                    {'attr': {'class':'btn btn-dark ',
                        'aria-pressed':'true'}
                    }
                ) }}
                {#----   dans bootstrap, j'avais utilisé la class data-toggle:button qui m'a bloqué l'envoi du formulaire. selon denis,
                il attendait l'ouverture d'une fenetre pop-up   ----#}
            </div>
        </div>
    </div>
    {{ form_end(guideAwardFormView) }}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>