{% extends "base.html.twig" %}

{% block title %}
    vin et conseil
{% endblock %}

{% block event %}
{% endblock %}

{% block content %}
{#    {{ dump(wineSelectFormView.year) }}#}
   <div>
       {{ form_start(wineSelectFormView) }}
       <div class="container">
           <div class="row">
                <div class="col-md-1">
                    {{ form_label(wineSelectFormView.nameCastle, 'Domaine') }}
                    {{ form_errors(wineSelectFormView.nameCastle) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(wineSelectFormView.nameCastle, {'attr': {'class':'widget_all', 'class':'select_width'}} ) }}
                </div>
                <div class="col-md-1">
                    {{ form_label(wineSelectFormView.year, 'Millésime') }}
                    {{ form_errors(wineSelectFormView.year) }}
                </div>
                <div class="col-md-3">
                    {{ form_widget(wineSelectFormView.year, {'attr': {'class':'widget_all', 'class':'select_width'}} ) }}
                </div>
                <div class="col-md-1">
                    {{ form_row(wineSelectFormView.submit,
                        {'attr': {
                            'class':'btn btn-dark ',
                            'aria-pressed':'true'}
                        }
                    ) }}
                </div>
            </div>
        </div>
        {{ form_end(wineSelectFormView) }}
    </div>

{#    <form action="get-method.php" method="get"> <input type="text" name="firstname" placeholder="First Name" /> <input type="text" name="lastname" placeholder="Last Name" /> <input type="submit" name="submit" /> </form>#}



    {#

    <div class="homePage_article">
        <div class="homePage_article_img_even">
                <img class="homePage_article_img" src="{{ asset('assets/img/webSite/fronsac.jpg') }}" alt="photo de fronsac">
        </div>
        <div class="homePage_article_text famille_text">
            <h4 class="terroir_titre">AOC Fronsac</h4>
            <div class="terroir_text">L’AOC Fronsac, située à l’ouest de Libourne, est bordée par deux rivières, la Dordogne et l’Isle et couvre pas moins de sept communes : La Rivière, Saint-Germain-de-la-Rivière, Saint-Michel-de-Fronsac, Saint Aignan, Saillans et Galgon. L’appellation s’étend sur 850 ha et produit uniquement des vins rouges (environ 44.000 hl/an).
            </div>
            <div class="terroir_text">Le climat de Fronsac est le même que celui du libournais. C’est un climat favorable à la bonne maturité du raisin (tempéré océanique). Les sols argilo-calcaires constitués de molasses du Fronsadais (mélange d’argiles et de grès) sont propices à la production de grands vins rouges. Ici, c’est le merlot qui domine les assemblages de cépages (85 % des plantations). Il souvent associé au cabernet franc et au cabernet-sauvignon.
            </div>
            <div class="terroir_text">La bouche des Fronsac est équilibrée, charpentée et riche. Ces vins se distinguent par une trame tannique aux arômes de fruits rouges et d’épices. Notez que les vins de Fronsac sont des vins de garde.
            </div>
        </div>
    </div>#}

{% endblock %}